* {
    outline: 1px solid tomato-;
}

.header {
    line-height: 80px;
    /* border-bottom: 1px solid #FFCB44; */
}

.header h1 {
    font-size: 0;
}

.header .header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .gnb {
    margin: 0 auto;
    white-space: nowrap;
    margin-top: 30px;
}

.header .search {
    margin: 30px 0 0 auto;
    font-size: 20px;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -30px;
    width: 1px;
    height: 10px;
    background: #ddd;
    transform: translate(0, -50%);
}

.header .gnb>ul>li>a:hover {
    display: inline-block;
    background: #FFCB44;
    border-radius: 10px;
    box-sizing: border-box;
    height: 10px;
}


.header .gnb>ul>li .sub {
    position: absolute;
    left: 50%;
    top: 70px;
    z-index: 1;

    overflow: hidden;
    background: #fff;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transform: translate(-50%, 0);
    text-align: center;

    font-size: 12px;
    font-weight: 500;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


.header .gnb>ul>li:hover .sub {
    display: block;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.header .gnb>ul>li a {
    display: block;
}


.header .gnb>ul>li .sub a {
    padding: 0 24px;
}


.header .gnb>ul>li .sub a:hover {
    background: #ddd;
    transition: 0.3s;
}

.header .gnb>ul>li .sub>li~li {
    border-top: 1px solid #ddd;

}

.header .gnb>ul>li {
    position: relative;
}

.main_visual {
    position: relative;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.main_visual .arrows i {
    position: absolute;
    top: 0%;
    font-size: 50px;
    color: #bfbcbc;
    padding: 10px;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    cursor: pointer;
}

.main_visual .arrows .left {
    left: 80px;
}

.main_visual .arrows .right {
    right: 0px;
}

.visual_slide {
    width: 100%;
}

.main_visual .visual_slide .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_visual .visual_slide .slick-dots li {
    display: inline-block;
    margin: 0 8px;
}

.main_visual .visual_slide .slick-dots button {
    width: 15px;
    height: 15px;
    font-size: 0;
    background: #bbb;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.main_visual .visual_slide .slick-dots li.slick-active button {
    background: #FFCB44;
}

.visual_slide .itm {
    height: 500px;
}

.visual_slide .itm01 {
    background: url(../images/pc_banner1.jpg)no-repeat center center/cover;
}

.visual_slide .itm02 {
    background: url(../images/pc_banner2.jpg)no-repeat center center/cover;
}

.visual_slide .itm03 {
    background: url(../images/pc_banner3.jpg)no-repeat center center/cover;
}

.visual_slide .itm04 {
    background: url(../images/pc_banner4.jpg)no-repeat center center/cover;
}

.visual_slide .itm05 {
    background: url(../images/pc_banner5.jpg)no-repeat center center/cover;
}

.visual_slide .itm06 {
    background: url(../images/pc_banner6.jpg)no-repeat center center/cover;
}

.visual_slide .itm07 {
    background: url(../images/pc_banner7.jpg)no-repeat center center/cover;
}

.visual_slide .itm08 {
    background: url(../images/pc_banner8.jpg)no-repeat center center/cover;
}

.visual_slide .itm09 {
    background: url(../images/pc_banner9.jpg)no-repeat center center/cover;
}

.visual_slide .itm10 {
    background: url(../images/pc_banner10.jpg)no-repeat center center/cover;
}

.visual_slide .itm11 {
    background: url(../images/pc_banner11.jpg)no-repeat center center/cover;
}

.visual_slide .itm12 {
    background: url(../images/pc_banner12.jpg)no-repeat center center/cover;
}



/* ---------------------------main_content---------------------------------------- */

.main_content {
    position: relative;
    padding: 80px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.main_content h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.main_content P {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.banner_slide .slick-slide {
    padding: 0 50px;
}

.main_content .banner_slide {
    display: flex;
    gap: 30px;
    /* border: 1px solid #ddd; */
    padding: 0 15px;

}

.main_content .banner_slide>* {
    flex: 1;
}

.main_content .arrows {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.main_content .arrows i {
    position: absolute;
    top: 0;
    font-size: 50px;
    color: #bfbcbc;
    padding: 10px;
    border-radius: 50%;

    transform: translate(0%, -50%);
    cursor: pointer;
}

.main_content .arrows .left {
    left: 0px;
}

.main_content .arrows .right {
    right: 0px;
}

.main_content .banner_slide .info {
    display: inline-block;
    margin-top: 20px;
    background: #000;
    color: #fff;
    padding: 8px 13px;
    line-height: 1.5;
    border-radius: 20px;
}

.main_content .banner_slide figure {
    text-align: center;
}

/* --------------------------main_box------------------------------------- */

.main_box {
    padding: 80px 0;
    width: 100%;
    margin: 0 auto;
    background: #FFCB44;
    text-align: center;
}

.mid_box {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mid_box>* {
    flex: 1;
}

.mid_box::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 400px;
    background: rgba(255, 255, 255, 0.5);
}

.mid_box .form input {
    max-width: 500px;
    width: 100%;
    line-height: 60px;
    height: 60px;
}

.main_box .lt_box {
    position: relative;
    text-align: center;

}

.main_box .lt_box h2 {
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 80px 0;
}

.main_box .form {
    box-sizing: border-box;
    margin-right: 50px;
    text-align: left;

}

.main_box .form a {
    padding: 8px;
    background: #000;
    color: #fff;
    font-size: 12px;
}

.main_box .form strong {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 70px;

}

.main_box .form p {
    font-size: 14px;
}

.main_box .form .sc {
    position: absolute;
    top: 138px;
    left: 486px;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: #000;
}

.main_box .form .sc i {
    font-size: 40px;
    color: #fff;
}

.main_box .rt_box {
    text-align: center;
    margin: 0 auto;
}


.main_box .rt_box .list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.main_box .rt_box .list img {
    display: block;

}

.main_box .rt_box .list .img_wrap img {
    width: 200px;
    height: 148px;
}

.main_box .rt_box .list span {
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}

.main_box .rt_box h2 {
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 80px 0;
}

/*-----------------------Business----------------------- */

.Business {
    padding: 80px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.Business .title {
    text-align: center;
}

.Business h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.Business p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 100px 0;
}

.Business .img_wrap img {
    display: block;
}

.Business .img_wrap {
    display: flex;
    flex: 1;
    padding: 0 15px;
    gap: 80px;
    justify-content: space-between;
}

.Business .img_wrap span {
    display: block;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

/* --------------------footer----------------------------- */

.footer {
    border-top: 1px solid #ddd;
    padding: 60px 0 0 0;
}

.footer_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer .top_link>ul>li {
    position: relative;
}

.footer .top_link>ul>li~li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 8px;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    background: #bbb;
}

.footer_inner .top_link ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer_inner .top_link ul li {
    font-size: 14px;
}

.footer .sns {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
}

.footer .sns i {
    padding: 8px;
    background: #bbb;
    color: #f9f9f9;
    font-size: 24px;
    border-radius: 50%;
}

.footer .mid_link {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer .bt_link p {
    margin: 20px 0 30px 0;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}

.totop {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 100px;
    right: -100px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.totop i {
    padding: 16px;
    background: #FFCB44;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
}

.totop.on {
    right: 100px;
    visibility: visible;
    opacity: 1;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    transform: translate(-50%, -50%);
    /* 가운데 오게하는 공식 */
    background: #f9f9f9;
    border: 1px solid #bbb;

    display: flex;
    flex-direction: column;
}

.btn_wrap {
    display: flex;
    justify-content: space-between;
    margin: auto 0 0 0;

    background: #ddd;
    padding: 10px 15px;
}

.popup p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

}

.popup img {
    width: 100%;
}

.popup .btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.popup .checkbox {
    position: absolute;
    margin-left: 50px;
    right: 20px;
    bottom: 20px;
    top: 50%;
    left: 50%;

}

